body {
    & > header {
        top: 0;
    }

    & > :is(header, footer) {
        position: sticky;

        padding: 1rem;

        background-color: var(--background-darker-colour);
    }

    & > main {
        padding: 5%;
    }

    & > footer {
        bottom: 0;

        display: flex;
        flex-direction: column;
        place-content: end center;
        place-items: end center;
    }
}
